@model GbayWebApp.ViewModels.RegisterViewModel 
@{
    ViewData["Title"] = "User Registration";
}

<h1>User Registration</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Are you going to buy or sell products?</label>
                @for (int i = 0; i < Model.Roles.Count; i++)
                {
                    if (Model.Roles[i].RoleName == "Buyers" || Model.Roles[i].RoleName == "Sellers")
                    {
                        <br />
                        <input asp-for="@Model.Roles[i].RoleName" type="hidden" value="@Model.Roles[i].RoleName" />
                        <input asp-for="@Model.Roles[i].IsSelected" type="checkbox" />
                        <label>@Model.Roles[i].RoleName</label>
                    }
                    else
                    {
                        <input asp-for="@Model.Roles[i].RoleName" type="hidden" value="@Model.Roles[i].RoleName" />
                        <input asp-for="@Model.Roles[i].IsSelected" type="hidden"/>
                    }
                }
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>