@model GbayWebApp.ViewModels.ListRolesViewModel

@{
    ViewData["Title"] = "All Roles";
}

<h1>Manage Roles</h1>

<a class="btn btn-primary mb-3" style="width:auto;" asp-action="CreateRole" asp-controller="Administration">Add new role</a>
<br />
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Role Name
        </th>
        <th>
            Users
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var role in Model.Roles)
    {
<tr>
    <td>
        @role.Id
    </td>
    <td>
        @role.Name
    </td>
    <td>
        @foreach (var user in role.Users)
        {

            @string.Join(", ", user.UserName)
            

        }
    </td>

<td>
        <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id">Edit</a>
        |
        <a asp-action="DeleteRole" asp-controller="Administration" asp-route-id="@role.Id">Delete</a>
    </td>
</tr>
    }
</table>
