@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signInManager;

@model IEnumerable<GbayWebApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Welcome @User.Identity.Name</h2>

<div>
    @foreach (var item in Model)
    {
    <a asp-action="Product" asp-route-id="@item.Id" class="card-link">
        <div class="card" style="width: 15rem; display:inline-block; margin: 15px; text-align:center;">
            <img src="@Url.Content(item.ImgUrl)" class="card-img-top" />
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h4>
                <h5> $@Html.DisplayFor(modelItem => item.Price)</h5>
                <a href="#" class="btn btn-primary" style="margin: 10px;">Add to Cart</a>
                <br />
                <p>Published by: @Html.DisplayFor(modelItem => item.Seller)</p>
            </div>
        </div>
    </a>
}
</div>